:root {
  --color-arsenic: rgb(58, 64, 66);
  --color-old-silver: rgb(130, 130, 130);
  --color-eggshell: rgb(234, 230, 218);
  --color-floral-white: rgb(255, 252, 238);
  --color-pokemon:  rgb(32, 82, 143);
  --color-pomb-and-power: rgb(17, 192, 163);
  --color-fiery-rose: rgb(242, 90, 112);
  --color-cardial: rgb(186, 31, 51);
  --color-sandstorm: rgb(245, 213, 71);
  --color-mantis: rgb(98, 195, 112);
}